<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dataupgrade.mapper.dao.sourceDataTableMapper.sfIptPatientRunEngineMapper" >
  <resultMap id="BaseResultMap" type="com.dataupgrade.bean.sourceDataTable.sfIptPatientRunEngine" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="zone_id" property="zoneId" jdbcType="INTEGER" />
    <result column="key_date" property="keyDate" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="doctor_id" property="doctorId" jdbcType="VARCHAR" />
    <result column="doctor_name" property="doctorName" jdbcType="VARCHAR" />
    <result column="in_dept_id" property="inDeptId" jdbcType="VARCHAR" />
    <result column="in_dept_name" property="inDeptName" jdbcType="VARCHAR" />
    <result column="patient_id" property="patientId" jdbcType="VARCHAR" />
    <result column="event_no" property="eventNo" jdbcType="VARCHAR" />
    <result column="urgent_flag" property="urgentFlag" jdbcType="INTEGER" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, zone_id, key_date, update_time, receive_time, doctor_id, doctor_name, in_dept_id, 
    in_dept_name, patient_id, event_no, urgent_flag, check_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sf_ipt_patient_run_engine
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sf_ipt_patient_run_engine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dataupgrade.bean.sourceDataTable.sfIptPatientRunEngine" >
    insert into sf_ipt_patient_run_engine (id, zone_id, key_date, 
      update_time, receive_time, doctor_id, 
      doctor_name, in_dept_id, in_dept_name, 
      patient_id, event_no, urgent_flag, 
      check_time)
    values (#{id,jdbcType=BIGINT}, #{zoneId,jdbcType=INTEGER}, #{keyDate,jdbcType=DATE}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, #{doctorId,jdbcType=VARCHAR}, 
      #{doctorName,jdbcType=VARCHAR}, #{inDeptId,jdbcType=VARCHAR}, #{inDeptName,jdbcType=VARCHAR}, 
      #{patientId,jdbcType=VARCHAR}, #{eventNo,jdbcType=VARCHAR}, #{urgentFlag,jdbcType=INTEGER}, 
      #{checkTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dataupgrade.bean.sourceDataTable.sfIptPatientRunEngine" >
    insert into sf_ipt_patient_run_engine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zoneId != null" >
        zone_id,
      </if>
      <if test="keyDate != null" >
        key_date,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="doctorName != null" >
        doctor_name,
      </if>
      <if test="inDeptId != null" >
        in_dept_id,
      </if>
      <if test="inDeptName != null" >
        in_dept_name,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="eventNo != null" >
        event_no,
      </if>
      <if test="urgentFlag != null" >
        urgent_flag,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="zoneId != null" >
        #{zoneId,jdbcType=INTEGER},
      </if>
      <if test="keyDate != null" >
        #{keyDate,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="inDeptId != null" >
        #{inDeptId,jdbcType=VARCHAR},
      </if>
      <if test="inDeptName != null" >
        #{inDeptName,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="eventNo != null" >
        #{eventNo,jdbcType=VARCHAR},
      </if>
      <if test="urgentFlag != null" >
        #{urgentFlag,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dataupgrade.bean.sourceDataTable.sfIptPatientRunEngine" >
    update sf_ipt_patient_run_engine
    <set >
      <if test="zoneId != null" >
        zone_id = #{zoneId,jdbcType=INTEGER},
      </if>
      <if test="keyDate != null" >
        key_date = #{keyDate,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="inDeptId != null" >
        in_dept_id = #{inDeptId,jdbcType=VARCHAR},
      </if>
      <if test="inDeptName != null" >
        in_dept_name = #{inDeptName,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="eventNo != null" >
        event_no = #{eventNo,jdbcType=VARCHAR},
      </if>
      <if test="urgentFlag != null" >
        urgent_flag = #{urgentFlag,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dataupgrade.bean.sourceDataTable.sfIptPatientRunEngine" >
    update sf_ipt_patient_run_engine
    set zone_id = #{zoneId,jdbcType=INTEGER},
      key_date = #{keyDate,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      doctor_id = #{doctorId,jdbcType=VARCHAR},
      doctor_name = #{doctorName,jdbcType=VARCHAR},
      in_dept_id = #{inDeptId,jdbcType=VARCHAR},
      in_dept_name = #{inDeptName,jdbcType=VARCHAR},
      patient_id = #{patientId,jdbcType=VARCHAR},
      event_no = #{eventNo,jdbcType=VARCHAR},
      urgent_flag = #{urgentFlag,jdbcType=INTEGER},
      check_time = #{checkTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>